
<div class="container superponer shadow">

  <div class="d-flex justify-content-around">
    <div class="">
      <div class="border border-1 border-dark rounded p-1 ">
        <button class="btn p-0 m-1" (click)="onCrear($event)" ><span><img src="assets/media/logoAdd.png" alt="editar" class="logo-sm mt-1"></span></button>
      </div>

      <img src="assets/media/logoGabi.jpg" alt="logogabi" class="logoGabi shadow">


      <div class="text-center fw-bold mt-4">

        <div *ngIf="modoEdicion===true">
          <form  class="col-12" [formGroup]="form" >

            <div  class="m-1 ">
              <label for="fullname" class="form-label">Nombre y Apellido:</label>
              <input type="text" class="p-1"  formControlName="fullname" id="fullname" >
            </div>

            <div  class="m-1">
              <label for="posicion"  class="form-label">Puesto Actual:</label>
              <input type="text"  class=""  formControlName="posicion" id="posicion" >
            </div>

            <div  class="m-1 ">
              <label for="descripcion" class="form-label">Algo sobre ti:</label>
              <input type="text" class="col-12"  formControlName="descripcion" >
            </div>


          </form>
        </div>

        <div *ngIf="modoEdicion===false">
          <h5 class="text-muted">{{miPortafolio.fullname}}</h5>
          <p>{{miPortafolio.posicion}} </p>
        </div>
      </div>
    </div>

    <div >

      <!-- MÓDULO BOTONES EDIT -->
      <div *ngIf="modoEdicion===false">
        <div class=" d-flex justify-content-end">
          <div class="border border-1 border-dark rounded p-1 ">
            <button class="btn p-0 m-1" (click)="onEdit($event)" ><span><img src="assets/media/logoPencil.png" alt="editar" class="logo-sm mt-1"></span></button>
          </div>

          <div class="border border-1 border-dark rounded p-1 ">
             <button class="btn p-0 m-1" (click)="onDelete($event)" ><span><img src="assets/media/logoDelete.png" alt="editar" class="logo-sm mt-1"></span></button>
          </div>
        </div>
      </div>

      <div *ngIf="modoEdicion===true">
        <div class=" d-flex justify-content-end">
          <div class="border border-1 border-dark rounded p-1 ">
            <button class="btn p-0 m-1" (click)="onCancel()" ><span><img src="assets/media/logoCancel.png" alt="editar" class="logo-sm mt-1"></span></button>

            <button class="btn p-0 m-1" (click)="onSaveNew($event)" ><span><img src="assets/media/logoSave.png" alt="editar" class="logo-sm mt-1"></span></button>

          </div>
        </div>
      </div>
      <!-- FIN MÓDULO BOTONES EDIT -->

      <div class="fw-normal  acomodar-pro">
        <h6 class="text-start p-2 rounded border  bg-dark text-light">ACERCA DE</h6>


          <!-- MÓDULO VISUALIZACIÓN ESTÁTICA -->
        <div *ngIf="modoEdicion===false">
          <p class="ms-2">{{miPortafolio.descripcion}}</p>
        </div>
         <!-- FIN MÓDULO VISUALIZACIÓN ESTÁTICA -->

      </div>

    </div>

  </div>
</div>
