.logo-edu{
  height: 2em;
  width: 2em;
  margin-bottom: .5em;
}

.logo-sm{
  width: 1.2em;
  height: 1.2em;
  margin: .5em;
  transition: .3s;
}



.mt-8{
  margin-top: 8em;
}

.btn-green{
  background-color: rgb(41, 247, 41);
}

