

<div class="container-fluid p-1 shadow">
  <div class="row d-flex flex-wrap justify-content-between col-12 bg-white">

    <div class="d-flex flex-wrap justify-content-around  col-md-6 col-sm-12">

      <div class="d-flex col-md-4 col-sm-4  justify-content-center mt-1 ">
          <img src="assets/media/logoArgProg.png" alt="logoargentinaprograma" class="logo-arg bg-danger m-1  rounded shadow">
      </div>

      <div class="d-flex col-md-8 col-sm-8 justify-content-center text-center">
        <p class="fw-bold ms-3 mt-3">PROYECTO FINAL #YoProgramo</p>
      </div>


    </div>

    <div class="d-flex flex-wrap justify-content-around mt-2  col-md-6 col-sm-12 ">

      <div class="d-flex col-md-6 col-sm-6 justify-content-center">
      <div>
        <a href="https://www.instagram.com/fungirak" target="_blank" rel="noreferrer nooponer">
          <img src="assets/media/logoIg.png" alt="logoinstagram" class="logo-sm  m-1 shadow rounded">
        </a>
      </div>

      <div>
        <a href="https://www.github.com/fungirak" target="_blank" rel="noreferrer nooponer">
          <img src="assets/media/logoGithub.png" alt="logogithub" class="logo-sm m-1 shadow">
        </a>
        </div>

      <div>
        <a href="https://www.fungirak.com" target="_blank" rel="noreferrer nooponer">
          <img src="assets/media/logoFunguito.svg" alt="logofungiwebsite" class="logo-sm m-1  shadow rounded  p-1">
        </a>
      </div>
    </div>

    <!-- ESPACIO PARA UN BOTÓN -->
    <div class="d-flex col-md-6 col-sm-6 justify-content-center mb-2">
    <div *ngIf="portafolioActive === false ">
      <div class="d-flex justify-content-around   col-md-12 col-sm-12   ">
        <div class="col-12 text-center ">
          <button class=" btn btn-info btn-md w-100 text-white fw-bold shadow-lg "
          routerLink="/login"
          >MODO EDICIÓN</button>
        </div>

        <!--
        <div class="col-8 text-center ">
          <button class="btn btn-info border border-info btn-md w-100 text-white fw-bold fw-bold shadow-lg ms-3"
              routerLink="/register"
          >CREAR CUENTA</button>
        </div>
        -->


      </div>
    </div>

    <div *ngIf="portafolioActive === true ">
      <div class="d-flex justify-content-around   col-md-12 w-100 col-sm-12 mt-1 mb-2">
        <div class="col-6 w-100 text-center">
          <button class=" btn btn-dark rounded  btn-md w-100 text-white fw-bold shadow-lg "
           (click)="logout($event)"
          >TERMINAR EDICIÓN</button>
        </div>
      </div>
    </div>
  </div>


    </div>
  </div>
</div>
