.logosProyectos{
  width: 16em;
  height: 12em;
  object-fit: contain;
  object-position: 0px 20px;
}


.hoverProyectos{
  transition: .3s;
  transform: scale(1.0, 1.0);
}

.hoverProyectos:hover {
  transition: .3s;
  transform: scale(1.1, 1.1);
}

.logo-sm{
  width: 1.2em;
  height: 1.2em;
  margin: .5em;
}

.mt-8{
  margin-top: 8em;
}
