
  <div class="justify-content-center p-2">

    <!-- NUEVO REGISTRO -->
    <div *ngIf="modoNuevoRegistro===false">
     <div class="d-flex justify-content-center mb-4 m-4">
       <button class="btn btn-sm btn-green border shadow m-1 text-center text-light fw-bold" (click)="onCrear($event)" ><span><img src="assets/media/logoAdd.png" alt="editar" class="logo-sm mt-1 bg-white rounded-circle">AGREGAR EXPERIENCIA</span></button>
     </div>
   </div>

     <!------    FORMULARIO NEW    ------>
     <div *ngIf="modoNuevoRegistro===true"  class="d-flex justify-content-center">


       <form  class="col-md-8 col-12  mb-4"  [formGroup]="form" >

         <div class="text-center p-3 border shadow rounded mt-5 bg-white">

           <div *ngIf="modoNuevoRegistro===true">
             <div class="d-flex justify-content-end">
               <div class="p-1">
                 <button class="btn p-0 m-1" (click)="onCancelNuevoRegistro()" ><span><img src="assets/media/logoCancel.png" alt="editar" class="logo-sm mt-1"></span></button>

                 <button class="btn p-0 m-1" (click)="onSaveNewNuevoRegistro($event)" ><span><img src="assets/media/logoSave.png" alt="editar" class="logo-sm mt-1"></span></button>

               </div>
             </div>
           </div>


           <h3 class="text-center text-info m-3"><img src="assets/media/logoJob.png" class="logo-job" alt="logo educación"><span class="ms-3">Nueva Experiencia</span></h3>

             <div  class="">
               <div  class="text-start  ">
                 <label for="empresa" class="form-label  fw-bold">empresa:</label>
               </div>
               <input type="text"  class="col-md-10 col-12 p-2 mb-2 border rounded border-1 border-info shadow" placeholder=" 🏛 empresa"  formControlName="empresa" id="empresa" required autofocus>
             </div>

             <div  class="">
              <div  class="text-start  ">
                <label for="ubicacion"  class="form-label fw-bold">Ubicación:</label>
              </div>
              <input type="text"  class="col-md-10 col-12 p-2 mb-2 border rounded border-1 border-info shadow" placeholder="📍Ubicación" formControlName="ubicacion" id="ubicacion"  required>
            </div>

             <div  class=" ">
               <div  class="text-start  ">
                 <label for="puesto" class="form-label  fw-bold">Puesto:</label>
               </div>
               <input type="text" class="col-md-10 col-12 p-2 mb-2 border rounded border-1 border-info shadow" placeholder=" 💼 Puesto" formControlName="puesto" id="puesto" required>
             </div>

             <div  class=" ">
               <div  class="text-start  ">
                 <label for="periodo" class="form-label  fw-bold">Periodo:</label>
               </div>
               <input type="text"  class="col-md-10 col-12 p-2 mb-2 border rounded border-1 border-info shadow" placeholder=" 📆 Periodo" formControlName="periodo" id="periodo" required >
             </div>


             <div  class="">
               <div  class="text-start  ">
                 <label for="actividades" class="form-label  fw-bold">Actividades:</label>
               </div>
               <input type="text"  class="col-md-10 col-12 p-2 mb-2 border rounded border-1 border-info shadow mb-4" placeholder=" ⛳ Actividades" formControlName="actividades" id="actividades"  required >
             </div>
       </div>


       </form>
     </div>

     <!------    FORMULARIO NEW    ------>

   <!------    FORMULARIO EDIT    ------>
   <div *ngIf="modoEdicion===true" class="d-flex justify-content-center ">




     <form  class="col-md-8 col-12 mb-4 p-3 bg-white rounded shadow" [formGroup]="form" >

       <!-- MÓDULO BOTONES EDIT -->


       <div *ngIf="modoEdicion===true" class="d-flex justify-content-center mt-2">
         <div class="row w-100">


           <div class="d-flex justify-content-end">
             <button class="btn p-0 m-1" (click)="onCancel($event)" ><span><img src="assets/media/logoCancel.png" alt="editar" class="logo-sm mt-1"></span></button>
             <button class="btn p-0 m-1" (click)="onSaveEdit($event)" ><span><img src="assets/media/logoSave.png" alt="editar" class="logo-sm mt-1"></span></button>
          </div>

       </div>
       </div>
       <!-- FIN MÓDULO BOTONES EDIT -->


       <div class="text-center p-2">

         <h3 class="text-center text-info m-3"><img src="assets/media/logoJob.png" class="logo-job" alt="logo-experiencia"><span class="ms-3">Editar Experiencia</span></h3>

           <div  class="bg-gray">
             <div  class="text-start">
               <label for="empresa" class="form-label  fw-bold">Empresa:</label>
             </div>
             <input type="text"    class="col-md-10 col-12 p-2 mb-2 border rounded border-1 border-info shadow" placeholder=" 🏛 Empresa"  formControlName="empresa" id="empresa" required autofocus>
           </div>

           <div  class=" ">
             <div  class="text-start">
               <label for="ubicacion" class="form-label  fw-bold">Ubicación:</label>
             </div>
             <input type="text"  class="col-md-10 col-12 p-2 mb-2 border rounded border-1 border-info shadow" placeholder=" 📍 Ubicación" formControlName="ubicacion" id="titulo" required>
           </div>

           <div  class=" ">
             <div  class="text-start">
               <label for="puesto" class="form-label  fw-bold">Puesto:</label>
             </div>
             <input type="text"  class="col-md-10 col-12 p-2 mb-2 border rounded border-1 border-info shadow" placeholder=" 💼 Puesto" formControlName="puesto" id="periodo" required >
           </div>

           <div  class="">
             <div  class="text-start">
               <label for="periodo"  class="form-label fw-bold">Periodo:</label>
             </div>
             <input type="text" class="col-md-10 col-12 p-2 mb-2 border rounded border-1 border-info shadow" placeholder=" 📆 Periodo" formControlName="periodo" id="estado"  required>
           </div>

           <div  class="">
             <div  class="text-start">
               <label for="actividades" class="form-label  fw-bold">Actividades:</label>
             </div>
             <input type="text" class="col-md-10 col-12 p-2 mb-2 border rounded border-1 border-info shadow mb-4" placeholder=" ⛳ Actividades" formControlName="actividades" id="detalles"  required >
           </div>
     </div>


     </form>
   </div>
   <!------  FIN  FORMULARIO EDIT    ------>


     <div *ngFor="let miPortafolio of miPortafolio  ; let i = index" [attr.data-index]="i" >
       <div class="row justify-content-center">


         <div class="border rounded p-2  col-md-8 col-12  bg-white shadow-lg mb-4">

           <div *ngIf="modoEdicion===false">
             <div class=" d-flex justify-content-end">
               <div class="p-1">
                 <button class="btn p-0 m-1" (click)="onEdit(miPortafolio.id, i, $event)" ><span><img src="assets/media/logoPencil.png" alt="editar" class="logo-sm mt-1"></span></button>
               </div>

               <div class="p-1">
                 <button class="btn p-0 m-1" (click)="onDelete(i, $event)" ><span><img src="assets/media/logoDelete.png" alt="editar" class="logo-sm mt-1"></span></button>
               </div>
             </div>
           </div>



         <div class="m-4">
           <div class="d-flex">
             <div>
               <img src="assets/media/logoJob.png" class="logo-job" alt="logo educación">
             </div>
             <div>
               <h4 class="fw-bold mb-4 col-12 ms-2"> {{miPortafolio.empresa}}</h4>
             </div>
           </div>
           <div class="ms-4">
             <p class="fw-bold  mb-0"> 📍 UBICACIÓN</p>
             <p class="fw-normal ms-4"><span class="ms-1"></span>{{miPortafolio.ubicacion}}</p>
             <p class="fw-bold  mb-0"> 💼 PUESTO</p>
             <p class="fw-normal ms-4"><span class="ms-1"></span>{{miPortafolio.puesto}}</p>
             <p class="fw-bold mb-0"> 📆 PERIODO</p>
             <p class="fw-normal ms-4"><span class="ms-1"></span>{{miPortafolio.periodo}}</p>
             <p class="fw-bold  mb-0"> ⛳ ACTIVIDADES</p>
             <p class="fw-normal ms-4"><span class="ms-1"></span>{{miPortafolio.actividades}}</p>
           </div>
         </div>


       </div>
     </div>


   </div>


   </div>

