



  <div class="justify-content-center p-2 w-100">

    <!-- NUEVO REGISTRO -->
    <div *ngIf="modoNuevoRegistro===false">
      <div class="d-flex justify-content-center mb-4 m-4">
        <button class="btn btn-sm btn-green border shadow m-1 text-center text-light fw-bold" (click)="onCrear($event)" ><span><img src="assets/media/logoAdd.png" alt="editar" class="logo-sm mt-1 bg-white rounded-circle">AGREGAR EXPERIENCIA</span></button>
      </div>
    </div>


    <!-- FORMULARIO NEW -->
      <div *ngIf="modoNuevoRegistro===true" class="d-flex justify-content-center">

        <div class="d-flex col-sm-3 col-md-2 m-2 justify-content-center mt-5">
          <!-- IMAGEN -->
          <div class="p-2 mt-1 bg-white ajuste-logo shadow-lg">
            <img src="assets/media/logoJob.png" alt="logoedu" class="logo-job ms-2 p-1 mt-1">
          </div>
        </div>


        <form  class="col-md-8 col-sm-12 mb-4" [formGroup]="form" >

          <div class="text-center p-2 border shadow rounded bg-white mt-5">

            <div *ngIf="modoNuevoRegistro===true">
              <div class="d-flex justify-content-end">
                <div class="p-1">
                  <button class="btn p-0 m-1" (click)="onCancelNuevoRegistro()" ><span><img src="assets/media/logoCancel.png" alt="editar" class="logo-sm mt-1"></span></button>

                  <button class="btn p-0 m-1" (click)="onSaveNewNuevoRegistro($event)" ><span><img src="assets/media/logoSave.png" alt="editar" class="logo-sm mt-1"></span></button>

                </div>
              </div>
            </div>


            <h3 class="text-center text-info m-3">Nueva Experiencia</h3>

              <div  class="">
                <div class="text-start alineado">
                  <label for="empresa" class="form-label  fw-bold">Empresa:</label>
                </div>
               <input type="text" [(ngModel)]="miPortafolio.empresa" class="col-md-10 col-sm-12 p-2 mb-2 border rounded border-1 border-primary shadow" placeholder="🌐 Empresa"  formControlName="empresa" id="empresa" required autofocus>
              </div>

              <div  class=" ">
                <div  class="text-start alineado">
                  <label for="ubicacion" class="form-label  fw-bold">Ubicacion:</label>
                </div>
                <input type="text" [(ngModel)]="miPortafolio.ubicacion" class="col-md-10 col-sm-12 p-2 mb-2 border rounded border-1 border-primary shadow" placeholder="📍Ubicacion" formControlName="ubicacion" id="ubicacion" required>
              </div>

              <div  class=" ">
                <div  class="text-start alineado">
                  <label for="puesto" class="form-label  fw-bold">Puesto:</label>
                </div>
                <input type="text" [(ngModel)]="miPortafolio.puesto" class="col-md-10 col-sm-12 p-2 mb-2 border rounded border-1 border-primary shadow" placeholder=" 💼 Puesto" formControlName="puesto" id="puesto" required >
              </div>

              <div  class="">
                <div  class="text-start alineado">
                  <label for="periodo"  class="form-label fw-bold">Periodo:</label>
                </div>
                <input type="text" [(ngModel)]="miPortafolio.periodo" class="col-md-10 col-sm-12 p-2 mb-2 border rounded border-1 border-primary shadow" placeholder=" 📆 Periodo" formControlName="periodo" id="periodo"  required>
              </div>

              <div  class="">
                <div  class="text-start alineado">
                  <label for="actividades" class="form-label  fw-bold">Tareas:</label>
                </div>
                <input type="text" [(ngModel)]="miPortafolio.actividades" class="col-md-10 col-sm-12 p-2 mb-2 border rounded border-1 border-primary shadow mb-4" placeholder=" ⛳ Tareas" formControlName="actividades" id="actividades"  required >
              </div>
        </div>


        </form>
      </div>
       <!-- FIN FORMULARIO NEW -->

      <div *ngFor="let miPortafolio of miPortafolio ; let i = index" [attr.data-index]="i">

      <div class="d-flex col-12 justify-content-center mb-4">


          <div class="d-flex col-12 justify-content-center">

            <div class="d-flex col-sm-3 col-md-2 m-2 justify-content-center">
              <!-- IMAGEN -->
              <div class="p-2 mt-1">
                <img src="assets/media/logoJob.png" alt="logotrabajo" class="logo-job">
              </div>
            </div>


            <div class="border rounded p-2 col-sm-9 col-md-8 bg-white shadow-lg">

              <!-- MÓDULO BOTONES EDIT -->

              <div *ngIf="modoEdicion===false">
                <div class=" d-flex justify-content-end">
                  <div class="p-1">
                    <button class="btn p-0 m-1" (click)="onEdit(miPortafolio.id, $event)" ><span><img src="assets/media/logoPencil.png" alt="editar" class="logo-sm mt-1"></span></button>
                  </div>

                  <div class="p-1">
                    <button class="btn p-0 m-1" (click)="onDelete(i, $event)" ><span><img src="assets/media/logoDelete.png" alt="editar" class="logo-sm mt-1"></span></button>
                  </div>
                </div>
              </div>

            <div *ngIf="modoEdicion===true">
              <div class="d-flex justify-content-end">
                <div class="p-1">
                  <button class="btn p-0 m-1" (click)="onCancel(i, $event)" ><span><img src="assets/media/logoCancel.png" alt="editar" class="logo-sm mt-1"></span></button>

                  <button class="btn p-0 m-1" (click)="onSaveEdit(miPortafolio.id , $event)" ><span><img src="assets/media/logoSave.png" alt="editar" class="logo-sm mt-1"></span></button>

                </div>
              </div>
            </div>
            <!-- FIN MÓDULO BOTONES EDIT -->


            <!-- FORMULARIO EDIT -->
            <div *ngIf="modoEdicion===true">
              <form  class="col-md-12 col-sm-12 mb-4" [formGroup]="form" >

                <div class="text-center p-2  ">

                    <div  class="">
                      <div  class="text-start alineado">
                        <label for="empresa" class="form-label  fw-bold">Empresa:</label>
                      </div>
                      <input type="text" [(ngModel)]="miPortafolio.empresa" class="col-md-10 col-sm-12  p-2 mb-2 border rounded  border-1 border-primary shadow" placeholder="🌐 Empresa"  formControlName="empresa" id="empresa" required autofocus>
                    </div>

                    <div  class=" ">
                      <div  class="text-start alineado">
                        <label for="ubicacion" class="form-label  fw-bold">Ubicacion:</label>
                      </div>
                      <input type="text" [(ngModel)]="miPortafolio.ubicacion" class="col-md-10 col-sm-12  p-2 mb-2 border rounded  border-1 border-primary shadow" placeholder="📍Ubicacion" formControlName="ubicacion" id="ubicacion" required>
                    </div>

                    <div  class=" ">
                      <div  class="text-start alineado">
                        <label for="puesto" class="form-label  fw-bold">Puesto:</label>
                      </div>
                      <input type="text" [(ngModel)]="miPortafolio.puesto" class="col-md-10 col-sm-12  p-2 mb-2 border rounded  border-1 border-primary shadow" placeholder=" 💼 Puesto" formControlName="puesto" id="puesto" required >
                    </div>

                    <div  class="">
                      <div  class="text-start alineado">
                        <label for="periodo"  class="form-label fw-bold">Periodo:</label>
                      </div>
                      <input type="text" [(ngModel)]="miPortafolio.periodo"  class="col-md-10 col-sm-12  p-2 mb-2 border rounded  border-1 border-primary shadow" placeholder=" 📆 Periodo" formControlName="periodo" id="periodo"  required>
                    </div>

                    <div  class="">
                      <div  class="text-start alineado">
                        <label for="actividades" class="form-label  fw-bold">Tareas:</label>
                      </div>
                      <input type="text" [(ngModel)]="miPortafolio.actividades" class="col-md-10 col-sm-12  p-2 mb-2 border rounded  border-1 border-primary shadow " placeholder="⛳ Tareas" formControlName="actividades" id="actividades"  required >
                    </div>
              </div>


              </form>
            </div>
            <!-- FIN FORMULARIO EDIT -->


            <div *ngIf="modoEdicion===false">
              <div class="m-2">
                <h4 class="fw-bold mb-3">🌐 {{miPortafolio.empresa}}</h4>
                <div class="ms-4">
                  <p class="fw-bold  mb-0">📍 UBICACION</p>
                  <p class="fw-normal ms-4"><span class="ms-1"></span>{{miPortafolio.ubicacion}}</p>
                  <p class="fw-bold  mb-0">💼 PUESTO</p>
                  <p class="fw-normal ms-4"><span class="ms-1"></span>{{miPortafolio.puesto}}</p>
                  <p class="fw-bold mb-0">📆 PERIODO</p>
                  <p class="fw-normal ms-4"><span class="ms-1"></span>{{miPortafolio.periodo}}</p>
                  <p class="fw-bold  mb-0">⛳ TAREAS</p>
                  <p class="fw-normal ms-4"><span class="ms-1"></span>{{miPortafolio.actividades}}</p>
                </div>
              </div>
            </div>
            </div>
          </div>

      </div>
    </div>

  </div>

