<div class="justify-content-center p-5">

  <div class="row">
    <div *ngFor="let miPortafolio of miPortafolio" class="col-md-3 col-sm-12">

       <!-- MÓDULO BOTONES EDIT -->
       <div *ngIf="modoEdicion===false">
        <div class=" d-flex justify-content-end mt-8">
          <div class="border border-1 border-dark rounded p-1 ">
            <button class="btn p-0 m-2" (click)="onEdit()" ><span><img src="assets/media/logoPencil.png" alt="editar" class="logo-sm mt-1"></span></button>
          </div>
        </div>
      </div>

      <div *ngIf="modoEdicion===true">
        <div class=" d-flex justify-content-end mt-8">
          <div class="border border-1 border-dark rounded p-1 ">
            <button class="btn p-0 m-2" (click)="onCancel()" ><span><img src="assets/media/logoCancel.png" alt="editar" class="logo-sm mt-1"></span></button>

            <button class="btn p-0 m-2" (click)="onSave()" ><span><img src="assets/media/logoSave.png" alt="editar" class="logo-sm mt-1"></span></button>

            <button class="btn p-0 m-2" (click)="onDelete()" ><span><img src="assets/media/logoDelete.png" alt="editar" class="logo-sm mt-1"></span></button>
          </div>
        </div>
      </div>
      <!-- FIN MÓDULO BOTONES EDIT -->



          <div class="text-center m-3">
            <h4 class="">{{miPortafolio.tecnologia}}</h4>
            <img src="assets/media/logoSkills.png" alt="logoskills" class="logoSkills">
          </div>

    </div>
  </div>

</div>

       <!--
         <span class="circulo-gris d-flex  justify-content-center align-items-center">
          <div class="rectangulo-celeste"></div>
          <span class="circulo-blanco d-flex justify-content-center align-items-center mt-1">
            <h3 class="text-green">80%</h3>
          </span>
        </span>
        -->
