
<!--------------- BANNER --------------->
<app-banner-superior></app-banner-superior>
<!--------------- HEADER --------------->
  <app-header></app-header>
<!--------------- ACERCA DE  --------------->
  <app-acerca-de></app-acerca-de>

  <!--------------- EDUCACIÓN --------------->
  <div class="container shadow bg-info">

    <div class="row mt-5">
      <h6 class="text-start p-1 bg-dark text-light rounded border p-2">EDUCACION</h6>
    </div>

    <app-educacion></app-educacion>

  </div>


<!--------------- EXPERIENCIAS --------------->

  <div class="container shadow bg-primary">

    <div class="row mt-5">
      <h6 class="text-start p-1 bg-dark text-light  rounded border p-2">EXPERIENCIAS</h6>
    </div>

      <app-experiencia></app-experiencia>

  </div>


  <!--------------- SKILLS --------------->
  <div class="container shadow mt-5 bg-warning">
    <div class="row">
      <h6 class="text-start p-2 rounded border  bg-dark text-light ">SKILLS</h6>

      <app-skills></app-skills>

    </div>
  </div>

  <!--------------- PROYECTOS --------------->
  <div class="container shadow mt-5 mb-5  bg-danger">
    <div class="row">
      <h6 class="text-start p-2 rounded border  bg-dark text-light ">PROYECTOS</h6>

          <app-proyectos></app-proyectos>

      </div>
     </div>
 <!--------------- FOOTER --------------->
  <app-footer></app-footer>
